/**
 * Layout - G Nav
 */

.gNav {
  @include row(space-between);
  height: 100%;

  &__siteBrand {
    flex: 0 1 13.5rem;
    margin: 0;
    font-family: $font-family-serif;
    font-weight: 700;
    font-size: font-size("small");
    line-height: 1.68;
    text-align: left;

    @media (min-width: breakpoint("md")) {
      font-size: font-size("normal");
    }

    a:hover {
      color: $body-color;
      text-decoration: none;
      opacity: 0.7;
    }
  }

  &__primaryMenu {
    @include list-unstyled();
    @include row();
    flex: 0 1 auto;
    gap: space("large");
    margin: 0;
    margin-inline-end: space("large");
  }

  &__secondaryMenu {
    @include list-unstyled();
    position: fixed;
    top: space("medium");
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: space("medium");
  }

  &__menuItem {
    margin: 0;
    font-family: $font-family-serif;

    &.is-current {
      font-weight: 700;
    }

    a {
      display: block;
      line-height: 1;
      transition: all 0.5s ease;
    }

    &.is-fixed a {
      padding: space("large") space("medium");
      writing-mode: vertical-rl;
      font-size: font-size("small");
    }

    &.is-darker a {
      @include make-button-color("darker");
      text-decoration: none;
    }

    &.is-primary a {
      @include make-button-color("primary");
      text-decoration: none;
    }
  }
}
