/**
 * Layout - Header
 */

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 4.5rem;
  background-color: theme-color("lighter");
  font-size: font-size("medium");
  transition: all 0.35s ease-in-out;

  a {
    color: $body-color;

    &:hover {
      color: $link-hover-color
    }
  }
  
  // マウスオーバー時、およびファーストビューのスクロール時の設定 
  @media (min-width: breakpoint("md")) {
    &:hover, &.is-active {
      height: 7.5rem;
      font-size: font-size("large");
    }
  }

  &__container {
    @include container();
    height: 100%;
  }
}
