/**
 * Project - Hero
 */

.hero {
  @extend %__inner;
  padding-block: space("x-large");
  background-color: theme-color("lighter");

  @media (min-width: breakpoint("md")) {
    display: flex;
    align-items: center;
    height: max(100svh, 36rem);
  }

  &__container {
    @extend %__container;
    @include row(center, center);
    height: 100%;
  }

  &__image {
    @include col(6, true, "md");

    @media (min-width: breakpoint("sm")) {
      padding-inline: space("medium");
    }

    @media (min-width: breakpoint("md")) {
      order: 1;
    }

    img {
      mask: url("./assets/mask.svg") center / contain no-repeat;
    }
  }

  &__content {
    @include col(3, true, "md");
    width: min(100%, 24rem);
    margin: 0 auto;

    @media (min-width: breakpoint("md")) {
      order: 0;
    }
  }

  &__illust {
    width: 12rem;
    margin: space("large") auto;

    @media (min-width: breakpoint("md")) {
      transform: translateX(-3rem);
    }
  }

  &__heading {
    @extend %__heading;
  }

  &__text {
    text-align: justify;
  }
}
