/**
 * Project - Section
 */

%__inner {
  padding-block: space("large");

  :where(&) {
    background-color: $body-bg;
  }

  :where(.section:nth-child(odd) &) {
    @include background("darker");
  }
}

%__heading {
  margin: space("medium") 0;
  font-weight: 700;
  font-size: font-size("x-large");
}

%__container {
  padding-block-start: calc(#{space()} + #{space("medium")});
  padding-block-end: space("large");

  &:not(.section__container.is-md) {
    @include container();
  }

  &.is-md {
    @include container("md");
  }
}
