/**
 * Utility - Text
 */

$text-align-values: left, center, right, justify;

.text {
  @each $value in $text-align-values {
    &-#{$value} {
      text-align: $value !important;
    }
  }

  @each $key, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {
      @each $value in $text-align-values {
        &-#{$key}-#{$value} {
          text-align: $value !important;
        }
      }
    }
  }
}
